// --- COLORS ---
$color-primary: #221f1f;
$color-secondary: #4baa00;
$color-secondary-brighter: #58c601;

$color-background-first: #97feaa;
$color-background-second: #94b7fc;

$color-background-card-first: #f3687f;
$color-background-card-second: #fac88b;
