.congratulation {
  display: flex;
  align-items: start;
  gap: 15rem;

  .cards {
    max-width: 50rem;
  }

  &__swiper--card {
    margin-bottom: 1.25rem;
  }

  &__card-slide {
    border-radius: 2rem;
    border: 2px solid $color-secondary;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__card-thumb {
    border-radius: 1rem;
    overflow: hidden;
  }

  .card-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .gift__form {
    max-width: 45rem;

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      justify-items: start;

      &__label {
        width: 100%;
      }

      &__label-text {
        display: block;
        margin-bottom: 0.7rem;
        font-size: 1.5rem;
      }

      &__field {
        width: 100%;
        border-radius: 0.375rem;
        border: 1px solid #dedede;
        background-color: #fbfbfb;
        padding: 0.5rem 1rem;
        outline: none;

        &:hover,
        &:focus-visible,
        &:active {
          border-color: #999;
        }
      }

      .textarea {
        grid-column: 1 / -1;

        .form__field-textarea {
          resize: vertical;
          min-height: 15rem;
        }
      }

      .form__button {
        border-radius: 2rem;
        padding: 0.5rem 1.5rem;
        background: $color-secondary;
        color: #fff;
        font-weight: 700;
        text-align: center;
        border: 1px solid transparent;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-size: 2rem;

        &:hover:not(:disabled) {
          background-color: $color-secondary-brighter;
        }

        &:focus-visible:not(:disabled) {
          border-color: $color-secondary-brighter;
          background-color: $color-secondary;
        }

        &:active:not(:disabled) {
          transform: translate(0.2rem, 0.2rem);
        }

        &:disabled {
          opacity: 0.4;
        }
      }
    }
  }
}

/* MEDIA */
@media screen and (max-width: 1194px) and (min-width: 1040px) {
  .congratulation {
    gap: 7rem;
  }
}

@media screen and (max-width: 1039px) {
  .congratulation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5rem;
  }

  .form {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 550px) {
  .cards {
    width: 46rem;
  }

  .congratulation .gift__form .form__label-text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .cards {
    width: 35rem;
  }
}

@media screen and (max-width: 368px) {
  .cards {
    width: 30rem;
  }
}

@media screen and (max-width: 334px) {
  .congratulation {
    gap: 2.5rem;
  }

  .congratulation .gift__form .form {
    grid-template-columns: repeat(1, 1fr);
  }
}
