.congratulation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 7.5rem;

  .cards {
    max-width: 50rem;
  }

  &__swiper--card {
    margin-bottom: 1.25rem;
  }

  &__card-slide {
    border-radius: 2rem;
    border: 2px solid #4baa00;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__card-thumb {
    border-radius: 1rem;
    overflow: hidden;
  }

  .card-image {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .gift__form {
    max-width: 30rem;

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;

      &__label-text {
        display: block;
      }

      &__field {
        width: 100%;
      }

      .textarea {
        grid-column: 1 / -1;
      }
    }
  }
}
