.congratulation {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 7.5rem;

  .cards {
    max-width: 50rem;
  }

  &__swiper--card {
    margin-bottom: 1.25rem;
  }

  &__card-slide {
    border-radius: 2rem;
    border: 2px solid #4baa00;
    overflow: hidden;
    box-sizing: border-box;
  }

  &__card-thumb {
    border-radius: 1rem;
    overflow: hidden;
  }

  .card-image {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
